.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.label {
    font-size: var(--mantine-font-size-xs);
}
