.tableHeader {
    display: flex;
    padding: 0 .6rem;
    gap: .625rem;
}

.status {
    width: 35px;
}

.method {
    width: 60px;
}

.url {
    flex: 1;
}

.code {
    width: 45px;
}

.actions {
    width: 86px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.mocks {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
