.method {
    display: flex;
    align-items: center;
    min-width: 60px;
}

.url {
    flex: 1;
    overflow: hidden;
    flex-wrap: nowrap;
}

.urlText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.code {
    width: 45px;
}

.comment {
    display: flex;
}

.commentInline {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dragHandle {
    cursor: grab;
    touch-action: none;
}

.dragHandle:active {
    cursor: grabbing;
}