.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0.28rem 0.6rem;
    background: white;
    border-bottom: 0.0625rem solid #e9ecef;
}
