.tableHeader {
    display: flex;
    padding: 0 8px;
}

.tableBody {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    display: flex;
    align-items: center;
}

.grow, .url {
    flex: 1;
}

.url {
    display: inline-flex;
    gap: 4px;
}

.status {
    width: 50px;
}

.actions {
    width: 56px;
}
