.log {
    overflow: auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.url {
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
    width: 1px;
    text-overflow: ellipsis;
}

.method {
    display: flex;
    align-items: center;
    min-width: 60px;
}

.headers {
    display: grid;
    grid-template-columns: auto 1.5fr;
    grid-gap: 2px 12px;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
}

.code {
    max-height: 300px;
}
