.tableHeader {
    display: flex;
    padding: 0 .6rem;
    gap: .625rem;
}

.drag {
    width: 22px;
}

.status {
    width: 35px;
}

.method {
    width: 60px;
}

.url {
    flex: 1;
}

.code {
    width: 134px;
}

.ungroupedDropZone {
    min-height: 40px;
    border-radius: 8px;
}

.ungroupedDropZoneEmpty {
    border: 2px dashed var(--mantine-color-gray-4);
    display: flex;
    align-items: center;
    justify-content: center;
}

