body {
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--mantine-color-gray-2);

    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--mantine-color-dark-9);
    }
}

:root {
    --app-shell-padding: 0
}

.mantine-AppShell-header {
    height: 35px;
}
