.log {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.headers {
    display: grid;
    grid-template-columns: auto 1.5fr;
    grid-column-gap: 12px;
    grid-row-gap: 2px;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
}

.code {
    max-height: 300px;
}
